* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', open-sans;
  
}

body {
  margin: 0;
  
}

.VedaM{
  margin-top: 10px;
  font-size: 30px;

  font-weight: bold;
}
#logo{
  width: 50px;
  height: 50px
}

.figure{
  margin-top: 10px;
  margin-left: 30px

}

.h1{
  margin-left: 30px;
  margin-top: 50px;
  margin-right: 30px;
}
.row{
   margin-left: 30px;
}

#collapseOne{
display:none;
}